body {
  font-family: Helvetica, sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 2rem;
}

.image-card {
  max-width: 250px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.image-card img {
  width: 100%;
}

.card-content {
  background-color: #ffffff;
  padding: 0.75rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.topnav {
  background-color: rgb(0, 149, 255);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: powderblue;
  color: black;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 20px;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

#scenery-image {
  margin: 1rem 0;
  border-radius: 12px;
  overflow: hidden;
}
#scenery-image img {
  width: auto;
  height: auto;
}

#scenery-video {
  margin: 1rem 0;
  border-radius: 12px;
  overflow: hidden;
}
#scenery-video video {
  width: 100%;
  height: auto;
}

#gardenofthegods-image {
  margin: 1rem 0;
  border-radius: 12px;
  overflow: hidden;
}
#gardenofthegods-image img {
  width: 50%;
  height: auto;
}
